@charset "UTF-8";
body {
  color: #848688;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

a {
  color: #363636;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: #4dc8f4;
  text-decoration: none;
}

.heading-2 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}

.heading-2-alt {
  color: #0075ff;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}

.heading-3 {
  color: #363636;
  font-weight: 600;
  line-height: 36px;
}

.heading-4 {
  color: #363636;
  font-weight: 600;
  line-height: 24px;
}

.no-top-margin {
  margin-top: 0;
}

.bigger-text {
  font-size: 18px;
}

.text-bold {
  font-weight: 600;
}

.front-page-heading {
  margin-bottom: 40px;
  text-align: center;
}

.front-page-padding {
  padding: 60px 0;
}

.rounded-offset-container {
  border-radius: 60px;
  margin: 0 auto;
  width: 1320px;
}

#logo-image {
  width: 187px;
}

#main-header {
  padding-bottom: 18px;
  padding-top: 18px;
}

#main-menu {
  padding: 17px 0 0px;
  text-align: right;
}

#main-menu a {
  margin: 0 12px 0 14px;
  text-decoration: none;
  color: #10035b;
}

#main-menu a:hover {
  color: #0075ff;
}

/** intro **/
#site-intro {
  color: #363636;
  padding: 20px 0 450px;
}

#site-intro-text {
  background: url("../images/illustration/hero-lines2x.png") no-repeat center
    right;
  background-size: 400px;
}

#site-intro-image img {
  display: inline-block;
  margin-left: 30px;
  /*float: left;*/
  text-align: center;
  box-shadow: #0075ff 0px 20px 35px -20px;
}

.site-intro-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 30px;
  margin-top: 140px;
  color: #0075ff;
}

.site-intro-subtitle {
  color: #848688;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 0px;
  margin-top: 12px;
}

/** upcoming event **/
.event-card {
  margin-bottom: 30px;
}

.event-link {
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  line-height: 26px;
  text-decoration: underline;
  width: 80%;
}

.event-link:hover {
  color: #363636;
  text-decoration: underline;
}

.event-date {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 10px;
}

.forum-title {
  margin: 0 0 1vw;
  color: #fff;
}

.article-card {
  margin-bottom: 80px;
  border-radius: 8px;
  padding: 10px;
}

.article-title {
  font-size: 20px;
  line-height: 32px;
  margin: 30px 0 30px;
}

.article-image-link {
  display: inline-block;
  height: 240px;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  color: #10035b;
}

.article-thumb {
  /*width: 350px;*/
  /*height: 350px;*/
}

.article-container,
.archive-container {
  margin-top: 100px;
}

.article-thumbnail-container {
  margin: 30px 0;
}

.article-content,
.page-content {
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 34px;
  margin-top: 30px;
}

.article-content p,
.page-content p {
  margin-bottom: 1.4em;
  color: #10035b;
}

.article-content ul li,
.page-content ul li {
  color: #10035b;
}

.article-content ol li,
.page-content ol li {
  color: #10035b;
}

.article-share {
  margin: 60px 0;
}

.article-share li {
  margin-right: 20px;
}

.testimonial-card {
  margin-bottom: 60px;
  text-align: center;
}

.testimonial-content {
  line-height: 22px;
  padding: 0 20px;
}

.testimonial-info {
  /* margin-top: -45px; */
}

.testimonial-person {
  color: #fff;
  padding: 6px 12px;
  width: fit-content;
  margin: auto;
  border-radius: 20px;
  background-color: #0075ff;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}

.testimonial-avatar {
  width: 160px;
}

#program-container {
  padding-bottom: 100px;
}

.program-card {
  background-color: #fff;
  box-shadow: 0 5px 15px 0 rgba(54, 54, 54, 0.1);
  margin-bottom: 20px;
  min-height: 350px;
  padding: 16px;
  padding-bottom: 40px;
  position: relative;
  text-align: center;
  border-radius: 20px;
}

.program-title {
  color: #363636;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-top: 20px;
  padding: 0;
  text-align: center;
}

.program-subtitle {
  line-height: 24px;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 50px;
}

.program-card .program-image {
  width: 100%;
}

.program-image {
  border-radius: 12px;
}

.program-card-link {
  background-color: #0075ff;
  padding: 6px 16px;
  border-radius: 20px;
  color: #fff;
  font-weight: normal;
}

.partner-slide {
  height: 120px;
  margin-top: 100px;
}

.partner-item {
  text-align: center;
  width: 300px;
}

.partner-link img {
  height: 84px;
  margin: 0 auto;
}

/* stat */
.stat-item {
  padding-bottom: 15px;
  padding-top: 15px;
}

.stat-number {
  color: #10035b;
  font-size: 40px;
  font-weight: 600;
  line-height: 64px;
  text-align: center;
}

.stat-text {
  display: inline-block;
  font-weight: 600;
  margin-top: 10px;
  padding: 4px 10px;
  width: 100%;
  border-radius: 20px;
  background-color: #0075ff;
  color: #fff;
}

.stat-text a {
  color: #fff;
  padding-bottom: 5px;
  text-decoration: none;
}

.stat-text a:hover {
  border-bottom-color: #fff;
}

#main-footer {
  margin-top: 100px;
  padding-bottom: 30px;
  padding-top: 150px;
}

.footer-menu-container {
  margin-bottom: 300px;
}

.footer-menu a,
.dark-link {
  border-bottom: 3px solid rgba(255, 255, 255, 0.324);
  color: #ffffff;
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  transition: ease 0.25s;
}

.footer-menu a:hover,
.dark-link:hover {
  border-bottom-color: #ffffff;
  color: #ffffff;
  text-decoration: none;
}

#big-link {
  font-size: 32px;
  text-align: center;
}

.fund-container {
  background-attachment: scroll;
  background-image: url("../images/potential-bg.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-bottom: 60px;
  margin-top: 150px;
  padding-bottom: 90px;
  padding-top: 120px;
}

.fund-intro {
  line-height: 30px;
}

.fund-intro p {
  margin-bottom: 20px;
}

.btn-fund {
  background-color: transparent;
  border: 3px solid #4dc8f4;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 15px 30px;
  text-align: center;
}

.btn-fund:hover {
  background-color: #4dc8f4;
  color: #fff;
}

.big-link-container {
  margin: 200px 0;
}

/* language menu */
#language-menu {
  display: inline-block;
  margin-left: 20px;
}

#language-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#language-menu li {
  margin: 0;
  position: relative;
}

#language-menu img {
  float: right;
  width: 24px;
}

#language-menu ul li a {
  color: #363636;
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  width: 82px;
}

#language-menu ul li a:after {
  clear: both;
  content: "";
  display: table;
}

#language-menu > ul > li:hover .sub-menu {
  display: block;
  position: absolute;
  z-index: 10000;
}

#language-menu span {
  line-height: 24px;
  text-transform: uppercase;
}

#language-menu .sub-menu {
  display: none;
  position: absolute;
}

.sub-menu a {
  background-color: #f5f5f5;
}

#language-menu .sub-menu a:hover {
  background-color: #4dc8f4;
  color: #fff;
}

/* team  */
.etabs {
  margin-bottom: 50px;
}

.etabs > li {
  padding: 0 20px;
}

.consultant-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.consultant-list:after {
  clear: both;
  content: "";
  display: table;
  margin-bottom: 30px;
}

.person-card {
  display: inline-block;
  height: 280px;
  margin-top: 30px;
  text-align: center;
  width: 280px;
  vertical-align: top;
}

.person-card span {
  display: inline-block;
  line-height: 24px;
}

.person-avatar {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.person-name {
  color: #363636;
  font-weight: 600;
  line-height: 22px;
  margin-top: 22px;
}

.person-organisation {
  width: 80%;
}

.person-position {
  font-size: 12px;
}

.person-job {
  font-size: 12px;
}

/* color definition */
.text-blue {
  color: #4dc8f4;
}

.text-white {
  color: #fff;
}

.text-dark {
  color: #363636;
}

.bg-purple {
  background-color: #8369ff;
}

.bg-semi-white {
  background-color: rgba(131, 105, 255, 0.03);
}

.bg-washed-blue {
  background: rgba(77, 200, 244, 0.06);
}

.slick-slide {
  /*height: 200px;*/
}

.page-title {
  color: #10035b;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.35em;
  /* margin-top: 150px; */
}

.page-title .sub-title {
  color: #848688;
  font-size: 14px;
  font-weight: normal;
}

/* #content {
  min-height: 1200px;
} */

.post .article-title {
  color: #10035b;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  bottom: -80px;
}

.slick-dots li button:before {
  color: #848688;
  content: "•";
  font-size: 8px;
  -webkit-font-smoothing: antialiased;
  height: 30px;
  left: 0;
  line-height: 10px;
  opacity: 0.25;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  text-align: center;
  top: 0;
  width: 30px;
}

.slick-dots li.slick-active button:before {
  color: #4dc8f4;
  opacity: 0.75;
}

.page-program-item {
  margin: 60px 0 30px;
}

.page-program-item h3 {
  font-size: 1.5em;
  line-height: 4em;
}

.program-thumb {
  margin-top: 70px;
}

#back-to-top {
  display: block;
  text-align: right;
}

.search-container {
  display: none;
}

.innovator-category-switch {
  margin-bottom: 60px;
}

.category-link {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #f7f7f7;
  color: #363636;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.category-link:hover {
  background-color: #8369ff;
  color: #fff;
}

.category-link-active {
  background-color: #0a0237;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .offside-container {
    border-radius: 1em;
    width: 100%;
  }

  #site-intro-image img {
    display: inline-block;
    margin-left: 0;
    text-align: center;
  }

  #site-intro {
    padding-bottom: 50px;
  }

  .front-page-padding {
    padding: 60px 20px;
  }

  .inotek-icon {
    margin-bottom: 30px;
  }

  #back-to-top,
  .copyright {
    text-align: center;
    color: #ffffffb1 !important;
  }
}
/* funders */
.microsite-title {
  margin-top: 0px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 120px;
  line-height: 120px;
  font-weight: 600;
}

.microsite-small-title {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 45px;
  font-weight: 600;
}

.microsite-ornament {
  position: absolute;
  top: -60px;
  right: 0;
}

.microsite-inotek {
  line-height: 48px;
}

.microsite-content {
  font-size: 18px;
  line-height: 32px;
}

.microsite-content p {
  margin-bottom: 30px;
}

#funders-header {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(131, 105, 255, 0.9)),
      to(rgba(131, 105, 255, 0.9))
    ),
    url("../images/potential-bg.jpg");
  background-image: linear-gradient(
      180deg,
      rgba(131, 105, 255, 0.9),
      rgba(131, 105, 255, 0.9)
    ),
    url("../images/potential-bg.jpg");
  background-position: 0px 0px, 50% 0%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.funder-container {
  padding-top: 180px;
  padding-bottom: 185px;
  color: #ffffff;
}

.funders-bar-block {
  height: 60px;
  margin-right: 20px;
  background-color: #4dc8f4;
}

.funders-bar-light {
  width: 30px;
  height: 30px;
  float: right;
  background-color: #fff;
}

#partner-header {
  padding-right: 20px;
  padding-left: 20px;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(77, 200, 244, 0.9)),
      to(rgba(77, 200, 244, 0.9))
    ),
    url("../images/potential-bg.jpg");
  background-image: linear-gradient(
      180deg,
      rgba(77, 200, 244, 0.9),
      rgba(77, 200, 244, 0.9)
    ),
    url("../images/potential-bg.jpg");
  background-position: 0px 0px, 50% 0%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.partner-container {
  padding-top: 180px;
  padding-bottom: 185px;
  color: #ffffff;
}

.partner-bar-block {
  height: 60px;
  background-color: #8369ff;
}

.partner-bar-light {
  width: 30px;
  height: 30px;
  float: left;
  background-color: #fff;
}

.wpcf7-form {
  font-family: Poppins, sans-serif;
  color: #363636;
  font-size: 0.75em;
}
.wpcf7-form label {
  display: block;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 600;
}
.wpcf7-form .no-top-margin {
  margin-top: 0;
}
.wpcf7-form .contact-submit {
  margin-top: 20px;
  padding: 12px 60px;
  background-color: #0075ff;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  display: inline-block;
  color: white;
  border: 3px solid #10035b;
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
}

.wpcf7-form-control.wpcf7-text,
.wpcf7-form-control.wpcf7-textarea {
  display: block;
  width: 100%;
  height: 60px;
  padding: 16px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  vertical-align: middle;
  background-color: #ffffff;
  border: 3px solid #10035b;
  border-radius: 30px;
}
.wpcf7-form-control.wpcf7-textarea {
  height: 100px;
}

span.wpcf7-list-item {
  border: 1px solid #000000;
  width: 30%;
  margin: 0 2% 10px 0;
  display: inline-block;
  text-align: center;
  font-size: 1.25em;
}
span.wpcf7-list-item label {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
span.wpcf7-list-item input[type="radio"]:checked {
  background: #0a55a0;
}

.achiev-desc {
  background: linear-gradient(to right, #0075ff, #20035d);
  color: white;
  padding: 40px;
  border-radius: 20px;
}

.achiev-button {
  background-color: #0075ff;
  font-style: italic;
  padding: 30px;
  font-size: 18px;
  border-radius: 20px;
  margin-top: 30px;
}

.achiev-button a {
  color: white;
  font-weight: normal;
}

.bg-gradient-primary {
  background: linear-gradient(to right, #0075ff, #20035d);
}

.forum-grid {
  gap: 20px;
}

#forum-container {
  padding-bottom: 60px;
}

.testimonial-project {
  font-weight: bold;
  font-size: 12px;
  color: #10035b;
}

/*# sourceMappingURL=style.css.map */

.hero-image {
  width: 100%;
  height: 100%;
}

.button-fresh a {
  background-color: #0a55a0;
  color: white;
  padding: 8px 20px;
  font-size: 14px;
  line-height: 120%;
}

.button-fresh-alt a {
  line-height: 120%;
  background-color: #0a55a0;
  border: 2px solid rgb(0, 42, 90);
  color: white;
  padding: 8px 20px;
  font-size: 14px;
}

.padding-fresh {
  padding: 80px 0;
}

.text-color-primary {
  color: #10035b;
}

.category-filter {
  padding: 30px 0;
}

.filter-button {
  padding: 6px 22px;
  background-color: #10035b;
  color: #fff;
  border-radius: 20px;
  border: 2px solid #00000000;
  margin: 0 5px;
  transition: ease 0.2s;
}

.filter-button:hover {
  background-color: #0075ff;
  color: #fff;
}

.active-category-sme {
  background-color: #0075ff;
  color: white;
}

.sme-thumb {
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.text-md {
  margin-top: -15px;
  font-size: 14px;
}

.sme-desc {
  margin-top: 20px;
}

.sme-button {
  text-align: center;
  background-color: #0075ff;
  color: white;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 20px;
  font-weight: normal;
}

.page-sme-item {
  padding-bottom: 70px;
}

.hero-image-program {
  width: 100%;
  height: 100%;
}

.rounded {
  border-radius: 20px;
}

.program-home-card {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 15px;
}

.program-home-card figure {
  border-radius: 12px;
}

.hero-image-2025 img {
  box-shadow: #0075ff 0px 20px 35px -20px;
}

.btn-annual-report-home a {
  background-color: #0075ff;
  color: #fff;
  border-radius: 20px;
  padding: 25px 20px;
}

.ps-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.ps-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.ps-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.ps-4 {
  padding-left: 40px;
  padding-right: 40px;
}

.ps-5 {
  padding-left: 50px;
  padding-right: 50px;
}

.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #006e51;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container-journey {
  margin: -25px 0;
  padding: 0 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container-journey.left {
  left: 0;
}

.container-journey.right {
  left: 50%;
}

.container-journey::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #006e51;
  border-radius: 16px;
  z-index: 1;
}

.container-journey.right::after {
  left: -8px;
}

.container-journey::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #006e51;
  z-index: 1;
}

.container-journey.right::before {
  left: 8px;
}

.container-journey .date-journey {
  position: absolute;
  display: inline-block;
  top: calc(50% - 15px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #006e51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container-journey.left .date-journey {
  right: -115px;
}

.container-journey.right .date-journey {
  left: -115px;
}

.container-journey .content-journey {
  padding: 20px 20px 20px 0;
  background: #044fa5;
  position: relative;
  border-radius: 15px;
}

.container-journey.right .content-journey {
  padding: 20px 20px 20px 0;
  border-radius: 15px;
}

.container-journey .content-journey h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #006e51;
}

.container-journey .content-journey p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 20px;
  }

  .container-journey {
    width: 100%;
    padding-left: 40px;
    padding-right: 10px;
    margin: 5px 0;
  }

  .container-journey.right {
    left: 0%;
  }

  .container-journey.left::after,
  .container-journey.right::after {
    left: 12px;
  }

  .container-journey.left::before,
  .container-journey.right::before {
    left: 100px;
    border-color: transparent #006e51 transparent transparent;
  }

  .container-journey.left .date-journey,
  .container-journey.right .date-journey {
    right: auto;
    left: 15px;
  }

  .container-journey.left .content-journey,
  .container-journey.right .content-journey {
    padding: 20px 20px 20px 0;
    border-radius: 10px;
  }
}

.desc-journey {
  font-size: 12px;
  line-height: 120%;
  color: #fff;
}

.title-journey {
  padding-left: 40px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
}

.button-team a {
  background-color: #0075ff;
  color: white;
  padding: 8px 20px;
  font-size: 14px;
  line-height: 120%;
}

.rounded-top-separator {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.heading-program a {
  color: #10035b;
}

.hero-homepage {
  width: 100%;
  box-shadow: #0075ff 0px 20px 35px -20px;
  border-radius: 20px;
}

.hero-homepage img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 10;
}

.line-height-2 {
  line-height: 120%;
}

.article-title a {
  color: #10035b;
}
